@import "tailwindcss";

@config "../tailwind.config.ts";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --nav-height: 3rem;
    --radius: 0.3rem;

    --logo: 182.5 100% 22%;

    /* light */
    --background: 185 1% 95%;
    --foreground: 185 1% 10%;
    --card: 185 1% 90%;
    --card-foreground: 185 1% 15%;
    --popover: 185 1% 95%;
    --popover-foreground: 185 95% 10%;
    --primary: 185 52.1% 28.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 185 10% 71%;
    --secondary-foreground: 0 0% 0%;
    --muted: 147 10% 85%;
    --muted-foreground: 185 1% 40%;
    --accent: 147 10% 80%;
    --accent-foreground: 185 1% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 185 1% 90%;
    --border: 185 20% 71%;
    --input: 185 20% 50%;
    --ring: 185 52.1% 28.6%;
  }
  .dark {
    --background: 185 10% 5%;
    --foreground: 185 1% 90%;
    --card: 185 1% 4%;
    --card-foreground: 185 1% 90%;
    --popover: 185 10% 5%;
    --popover-foreground: 185 1% 90%;
    --primary: 185 52.1% 28.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 185 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 147 10% 15%;
    --muted-foreground: 185 1% 60%;
    --accent: 147 10% 15%;
    --accent-foreground: 185 1% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 185 1% 90%;
    --border: 185 20% 18%;
    --input: 185 20% 18%;
    --ring: 185 52.1% 28.6%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
}
