@import "@oberoncms/core/tailwind.css";

@import "@oberoncms/plugin-uploadthing/source.css";
@import "@tohuhono/puck-blocks/source.css";

@source ".";
@source "../oberon";
@source "../.oberon/tailwind.classes";
