@import "tailwindcss" source(none);
@import "@tohuhono/tailwind-config";

@source "../app";
@source "../oberon";
@source "../.oberon/tailwind.classes";
@source "../../../packages/oberoncms/core/src";
@source "../../../packages/tohuhono/ui/src";
@source "../../../packages/tohuhono/puck-blocks/src";

@layer base {
  * {
    border-color: hsl(var(--border));
  }
}
