@import "tailwindcss" source(none);

@source "./dist";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@plugin "./src/plugin/corner-shape.ts";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --spacing-nav: var(--nav-height);

  --color-logo: var(--logo);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-sidebar-background: var(--sidebar-background, var(--background));
  --color-sidebar-foreground: var(--sidebar-foreground, var(--foreground));
  --color-sidebar-primary: var(--sidebar-primary, var(--primary));
  --color-sidebar-primary-foreground: var(
    --sidebar-primary-foreground,
    var(--primary-foreground)
  );
  --color-sidebar-accent: var(--sidebar-accent, var(--accent));
  --color-sidebar-accent-foreground: var(
    --sidebar-accent-foreground,
    var(--accent-foreground)
  );
  --color-sidebar-border: var(--sidebar-border, var(--border));
  --color-sidebar-ring: var(--sidebar-ring, var(--ring));

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);

  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-fade-in-half: fade-in-half 1s ease-in;
  --animate-fade-in: fade-in 1s ease-in;

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }

    20%,
    50% {
      opacity: 0;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes fade-in-half {
    from {
      opacity: 0;
    }

    to {
      opacity: 0.5;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer utilities {
  .prose {
    --tw-prose-body: currentColor;
    --tw-prose-headings: currentColor;
    --tw-prose-links: currentColor;
    --tw-prose-bold: currentColor;
    --tw-prose-counters: currentColor;
    --tw-prose-bullets: currentColor;
    --tw-prose-hr: currentColor;
    --tw-prose-quotes: currentColor;
    --tw-prose-quote-borders: currentColor;
    --tw-prose-captions: currentColor;
    --tw-prose-code: currentColor;
    --tw-prose-pre-code: currentColor;
    --tw-prose-pre-bg: transparent;
    --tw-prose-th-borders: currentColor;
    --tw-prose-td-borders: currentColor;
    --tw-prose-invert-body: currentColor;
    --tw-prose-invert-headings: currentColor;
    --tw-prose-invert-links: currentColor;
    --tw-prose-invert-bold: currentColor;
    --tw-prose-invert-counters: currentColor;
    --tw-prose-invert-bullets: currentColor;
    --tw-prose-invert-hr: currentColor;
    --tw-prose-invert-quotes: currentColor;
    --tw-prose-invert-quote-borders: currentColor;
    --tw-prose-invert-captions: currentColor;
    --tw-prose-invert-code: currentColor;
    --tw-prose-invert-pre-code: currentColor;
    --tw-prose-invert-pre-bg: transparent; /* Often needed if you want "no color" */
    --tw-prose-invert-th-borders: currentColor;
    --tw-prose-invert-td-borders: currentColor;
  }
}

@media (width >= 96rem) {
  .container {
    max-width: 1400px;
  }
}

@layer base {
  :root {
    --background: hsl(185 1% 95%);
    --foreground: hsl(185 1% 10%);
    --card: hsl(185 1% 90%);
    --card-foreground: hsl(185 1% 15%);
    --popover: hsl(185 1% 95%);
    --popover-foreground: hsl(185 95% 10%);
    --primary: hsl(185 52.1% 28.6%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(185 10% 71%);
    --secondary-foreground: hsl(0 0% 0%);
    --muted: hsl(147 10% 85%);
    --muted-foreground: hsl(185 1% 40%);
    --accent: hsl(147 10% 80%);
    --accent-foreground: hsl(185 1% 15%);
    --destructive: hsl(0 50% 50%);
    --destructive-foreground: hsl(185 1% 90%);
    --border: hsl(185 20% 71%);
    --input: hsl(185 20% 50%);
    --ring: hsl(185 52.1% 28.6%);
  }
  .dark {
    --background: hsl(185 10% 5%);
    --foreground: hsl(185 1% 90%);
    --card: hsl(185 1% 4%);
    --card-foreground: hsl(185 1% 90%);
    --popover: hsl(185 10% 5%);
    --popover-foreground: hsl(185 1% 90%);
    --primary: hsl(185 52.1% 28.6%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(180, 10%, 30%);
    --secondary-foreground: hsl(0 0% 100%);
    --muted: hsl(147 10% 15%);
    --muted-foreground: hsl(185 1% 60%);
    --accent: hsl(147 10% 15%);
    --accent-foreground: hsl(185 1% 90%);
    --destructive: hsl(0 50% 30%);
    --destructive-foreground: hsl(185 1% 90%);
    --border: hsl(185 20% 18%);
    --input: hsl(185 20% 18%);
    --ring: hsl(185 52.1% 28.6%);
  }
}

@layer base {
  :root {
    --nav-height: 3rem;
    --radius: 0.3rem;
    --logo: 182.5 100% 22%;
  }

  * {
    border-color: var(--border);
  }
}
