@import "tailwindcss" source(none);

@source "./dist";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --spacing-nav: var(--nav-height);

  --color-logo: hsl(var(--logo));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);

  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-fade-in-half: fade-in-half 1s ease-in;
  --animate-fade-in: fade-in 1s ease-in;

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }

    20%,
    50% {
      opacity: 0;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes fade-in-half {
    from {
      opacity: 0;
    }

    to {
      opacity: 0.5;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@media (width >= 96rem) {
  .container {
    max-width: 1400px;
  }
}

@layer base {
  :root {
    --nav-height: 3rem;
    --radius: 0.3rem;
    --logo: 182.5 100% 22%;
    --background: 185 1% 95%;
    --foreground: 185 1% 10%;
    --card: 185 1% 90%;
    --card-foreground: 185 1% 15%;
    --popover: 185 1% 95%;
    --popover-foreground: 185 95% 10%;
    --primary: 185 52.1% 28.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 185 10% 71%;
    --secondary-foreground: 0 0% 0%;
    --muted: 147 10% 85%;
    --muted-foreground: 185 1% 40%;
    --accent: 147 10% 80%;
    --accent-foreground: 185 1% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 185 1% 90%;
    --border: 185 20% 71%;
    --input: 185 20% 50%;
    --ring: 185 52.1% 28.6%;
  }

  .dark {
    --background: 185 10% 5%;
    --foreground: 185 1% 90%;
    --card: 185 1% 4%;
    --card-foreground: 185 1% 90%;
    --popover: 185 10% 5%;
    --popover-foreground: 185 1% 90%;
    --primary: 185 52.1% 28.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 185 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 147 10% 15%;
    --muted-foreground: 185 1% 60%;
    --accent: 147 10% 15%;
    --accent-foreground: 185 1% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 185 1% 90%;
    --border: 185 20% 18%;
    --input: 185 20% 18%;
    --ring: 185 52.1% 28.6%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
}
