name: CI

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      repository:
        required: true
        type: string
      ref:
        required: true
        type: string
      base:
        required: true
        type: string
    secrets:
      VERCEL_PROJECT_ID:
        required: true
      VERCEL_API_TOKEN:
        required: true
      VERCEL_ORG_ID:
        required: true
      TURSO_URL:
        required: false
      TURSO_TOKEN:
        required: false

jobs:
  changed-packages:
    name: Changed Packages
    uses: ./.github/workflows/call-changed-packages.yml
    with:
      repository: ${{ inputs.repository }}
      ref: ${{ inputs.ref }}
      base: ${{ inputs.base }}

  deploy_docs:
    name: Oberon Docs
    needs: [changed-packages]
    if: ${{ contains(needs.changed-packages.outputs.changed_packages, '@oberon/docs') }}
    uses: ./.github/workflows/call-deploy.yml
    with:
      environment: ${{ inputs.environment }}
      repository: ${{ inputs.repository }}
      ref: ${{ inputs.ref }}
      project: oberon-docs
    secrets:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_API_TOKEN: ${{ secrets.VERCEL_API_TOKEN }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

  deploy_playground:
    name: Oberon Playground
    needs: [changed-packages]
    if: ${{ contains(needs.changed-packages.outputs.changed_packages, '@oberon/playground') }}
    uses: ./.github/workflows/call-deploy.yml
    with:
      environment: ${{ inputs.environment }}
      repository: ${{ inputs.repository }}
      ref: ${{ inputs.ref }}
      project: playground
    secrets:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_API_TOKEN: ${{ secrets.VERCEL_API_TOKEN }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      TURSO_URL: ${{ secrets.TURSO_URL }}
      TURSO_TOKEN: ${{ secrets.TURSO_TOKEN }}

  deploy-status:
    name: Deploy Status
    needs: [changed-packages, deploy_docs, deploy_playground]
    if: always() && !contains(needs.*.result, 'cancelled')
    runs-on: ubuntu-latest
    env:
      STATUS: "${{ contains(needs.*.result, 'failure') && 'failed' || 'passed' }}"
      MESSAGE: |
        Latest deployments available at: 
        ${{ needs.deploy_docs.outputs.url && format('[docs]({0}) ', needs.deploy_docs.outputs.url) }}
        ${{ needs.deploy_playground.outputs.url && format('[developer playground]({0}) ', needs.deploy_playground.outputs.url) }}
    steps:
      - name: Add preview URL to job summary
        run: |
          echo "${{ env.STATUS == 'failed' && 'Deploy Failed' || env.MESSAGE }}" >> $GITHUB_STEP_SUMMARY
      - name: Failing deploy
        if: ${{ env.STATUS == 'failed' }}
        run: exit 1

  lint:
    name: Lint and Type Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository }}
          ref: ${{ inputs.ref }}
      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - name: Use pNpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
          cache: "pnpm"
      - name: Install
        run: pnpm i
      - name: Prettier
        run: pnpm prettier
      - name: Lint
        run: pnpm lint --cache-dir=.turbo
      - name: Types
        run: pnpm tsc --cache-dir=.turbo

  unit-test:
    name: Unit Test
    uses: ./.github/workflows/call-unit-tests.yml
    with:
      repository: ${{ inputs.repository }}
      ref: ${{ inputs.ref }}

  e2e-test:
    name: E2E Test
    uses: ./.github/workflows/call-playwright-e2e.yml
    with:
      repository: ${{ inputs.repository }}
      ref: ${{ inputs.ref }}

  test-status:
    name: Test Status
    needs: [deploy-status, lint, unit-test, e2e-test]
    if: always() && !contains(needs.*.result, 'cancelled')
    runs-on: ubuntu-latest
    env:
      STATUS: "${{ ( contains(needs.*.result, 'failure') || contains(needs.*.result, 'skipped') ) && 'failed' || 'passed'}}"
    steps:
      - name: Failing deploy
        if: ${{ env.STATUS == 'failed' }}
        run: exit 1

  promote_docs:
    name: Oberon CMS Docs
    needs: [deploy_docs, test-status]
    if: |
      always() && 
      inputs.environment == 'production' &&
      !contains(needs.*.result, 'cancelled') &&
      !contains(needs.*.result, 'failure') &&
      needs.deploy_docs.result == 'success'
    uses: ./.github/workflows/call-promote.yml
    secrets:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_API_TOKEN: ${{ secrets.VERCEL_API_TOKEN }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
    with:
      environment: ${{ inputs.environment }}
      project: oberon-docs
      staging_url: ${{ needs.deploy_docs.outputs.url }}
      production_url: www.oberoncms.com

  promote_playground:
    name: Oberon Playground
    needs: [deploy_playground, test-status]
    if: |
      always() && 
      inputs.environment == 'production' &&
      !contains(needs.*.result, 'cancelled') &&
      !contains(needs.*.result, 'failure') &&
      needs.deploy_playground.result == 'success'
    uses: ./.github/workflows/call-promote.yml
    secrets:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_API_TOKEN: ${{ secrets.VERCEL_API_TOKEN }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
    with:
      environment: ${{ inputs.environment }}
      project: playground
      staging_url: ${{ needs.deploy_playground.outputs.url }}
      production_url: playground.tohuhono.com
